{{!< default}}

<div class="grid-container">
    <div class="bg-box section" style="margin-top: 40px;">
        <header class="tag-header textcenter">
            {{#tag}}
                {{#if feature_image}}
                    <div style="margin-bottom: 30px;">
                        <img src="{{img_url feature_image size="m"}}" alt="{{name}}" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; margin: 0 auto;">
                    </div>
                {{/if}}
                <h1 class="title large">{{name}}</h1>
                {{#if description}}
                    <p style="color: var(--epcl-light-text-color); font-size: 16px; margin-top: 15px;">{{description}}</p>
                {{/if}}
            {{/tag}}
        </header>
    </div>
    
    <div class="articles classic" style="margin-top: 40px;">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>
</div>